@import url('https://fonts.googleapis.com/css?family=Niconne|Pangolin|Sedgwick+Ave+Display' );

.navStyle {
    background-position: -15vh -15vw;
    font-family: 'star wars';
} 

@font-face {
    font-family: 'star wars';
src: url('../assets/Starjedi.ttf');
}